:root {
    --roxo-fundo: #1a0a2e;
    --roxo-card: #250a4d;
    --dourado: #daa520;
}

body {
    background: var(--roxo-fundo);
    background-image: linear-gradient(135deg, #1a0a2e 0%, #3b1472 100%);
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.main-card {
    background: var(--roxo-card);
    width: 100%;
    max-width: 450px;
    padding: 30px;
    border-radius: 25px;
    border: 2px solid var(--dourado);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}

.logo-gothic {
    font-family: 'Pirata One', cursive;
    font-size: 60px;
    color: var(--dourado);
    text-align: center;
    margin: 0;
}

.subtitle { text-align: center; color: #b39ddb; margin-bottom: 25px; }

.login-select {
    width: 100%;
    background: rgba(0,0,0,0.3);
    border: 1px solid var(--dourado);
    color: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.menu-item {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    border: 1px solid rgba(218, 165, 32, 0.2);
    font-weight: bold;
    transition: 0.3s;
}

.menu-item:hover {
    background: var(--dourado);
    color: var(--roxo-fundo);
}
